<a href="https://colab.research.google.com/github/CollegePredictor/MachineLearning-Project/blob/main/Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel('Master.xlsx')
print(type(df))
df[df.columns] = df[df.columns].fillna(-1)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df)

     Unnamed: 0  year  ... dist                                     b_name
0             0  2021  ...  HYD         COMPUTER SCIENCE  AND  ENGINEERING
1             1  2021  ...  HYD  ELECTRONICS AND COMMUNICATION ENGINEERING
2             2  2021  ...  HYD     ELECTRICAL AND ELECTRONICS ENGINEERING
3             3  2021  ...  HYD                     MECHANICAL ENGINEERING
4             4  2021  ...  MDL                          CIVIL ENGINEERING
..          ...   ...  ...  ...                                        ...
769         769  2021  ...  HYD         COMPUTER SCIENCE  AND  ENGINEERING
770         770  2021  ...  WGR                          CIVIL ENGINEERING
771         771  2021  ...  WGR         COMPUTER SCIENCE  AND  ENGINEERING
772         772  2021  ...  WGR     ELECTRICAL AND ELECTRONICS ENGINEERING
773         773  2021  ...  WGR                     MECHANICAL ENGINEERING

[774 rows x 24 columns]

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'year', 'i_code', 'b_code', 'OC_B', 'OC_G', 'BCA_B',
       'BCA_G', 'BCB_B', 'BCB_G', 'BCC_B', 'BCC_G', 'BCD_B', 'BCD_G', 'BCE_B',
       'BCE_G', 'SC_B', 'SC_G', 'ST_B', 'ST_G', 'i_name', 'place', 'dist',
       'b_name'],
      dtype='object')

In [ ]:
#Rank
#gender
#Caste
#Branch
#dist

gender =1
cast='BCA'
rank=14000
branch='CSE'
dis=['MDL']

if(gender==1):
  caste=cast +"_B"
else:
  caste=cast +"_G"

def func(k):
  for i in dis:
    print(k)
    print(type(k))
    break

filt=(df['b_code']==branch) & (df.dist.isin(dis))
output=df.loc[filt,['i_name',caste]]

In [ ]:
filt1=((output[caste]>rank*40/100))

In [ ]:
output=output.sort_values(caste)
out=output.loc[filt1,'i_name'].head(20)
out=out.to_frame()
out.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>i_name</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>733</th>\n      <td>V N R VIGNAN JYOTHI INSTITUTE OF ENGG AND TECH</td>\n    </tr>\n    <tr>\n      <th>603</th>\n      <td>SREENIDHI INSTITUTE OF SCI AND TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>224</th>\n      <td>GOKARAJU RANGARAJU INSTITUTE OF ENGG AND TECH</td>\n    </tr>\n    <tr>\n      <th>251</th>\n      <td>INSTITUTE OF AERONAUTICAL ENGINEERING</td>\n    </tr>\n    <tr>\n      <th>154</th>\n      <td>C M R COLLEGE OF ENGG AND TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>179</th>\n      <td>ANURAG GRP OF INSTNS- CVSR COLL OF ENGG</td>\n    </tr>\n    <tr>\n      <th>451</th>\n      <td>MARRI LAXMAN REDDY INST OF TECHNOLOGY AND MANAGEMENT</td>\n    </tr>\n    <tr>\n      <th>445</th>\n      <td>MALLA REDDY COLLEGE OF ENGG  TECHNOLOGY (AUTONOMOUS)</td>\n    </tr>\n    <tr>\n      <th>479</th>\n      <td>MALLAREDDY ENGINEERING COLLEGE AUTONOMOUS</td>\n    </tr>\n    <tr>\n      <th>439</th>\n      <td>M L R INSTITUTE OF TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>519</th>\n      <td>NEIL GOGTE INST OF TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>697</th>\n      <td>VIGNAN BHARATI INSTITUTE OF TECHNOLOGY (AUTONOMOUS)</td>\n    </tr>\n    <tr>\n      <th>199</th>\n      <td>GEETANJALI COLLEGE OF ENGG AND TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>160</th>\n      <td>CMR INSTITUTE OF TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>378</th>\n      <td>KOMMURI PRATAP REDDY INST OF TECHNOLOGY</td>\n    </tr>\n    <tr>\n      <th>149</th>\n      <td>CMR TECHNICAL CAMPUS</td>\n    </tr>\n    <tr>\n      <th>486</th>\n      <td>MALLA REDDY ENGINEERING COLLEGE AND MANAGEMENT SCIENCES</td>\n    </tr>\n    <tr>\n      <th>468</th>\n      <td>MALLA REDDY COLLEGE OF ENGINEERING</td>\n    </tr>\n    <tr>\n      <th>240</th>\n      <td>HYDERABAD INST OF TECHNOLOGY AND MGMT</td>\n    </tr>\n    <tr>\n      <th>502</th>\n      <td>ST MARTINS ENGINEERING COLLEGE</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
b_code=set(df['b_code'])
#print(len(b_code))
#b_name=set(df['b_name'])
dic={}
for i in b_code:
  fi=df['b_code']==i
  k=df.loc[fi,'b_name'].head(1)
  dic[i]=k.values[0]
print(dic)

{'CSI': 'COMPUTER SCIENCE AND INFORMATION TECHNOLOGY', 'CSN': 'COMPUTER SCIENCE & ENGINEERING (NETWORKS)', 'FPT': 'FOOD PROCESSING TECHNOLOGY', 'ECI': 'ELECTRONICS COMMUNICATION AND INSTRUMENTATION ENGINEERING', 'BIO': 'BIO-TECHNOLOGY', 'INF': 'INFORMATION TECHNOLOGY', 'FSP': 'FACILITIES AND SERVICES PLANNING', 'CSB': 'COMPUTER SCIENCE AND BUSINESS SYSTEM', 'ETM': 'ELECTRONICS AND TELEMATICS', 'PHD': 'PHARM - D (M.P.C. STREAM)', 'MCT': 'MECHANICAL (MECHTRONICS) ENGINEERING', 'ECE': 'ELECTRONICS AND COMMUNICATION ENGINEERING', 'MMS': 'BTECH MECHANICAL  WITH MTECH MANUFACTURING  SYSTEMS', 'BME': 'BIO-MEDICAL ENGINEERING', 'TEX': 'TEXTILE TECHNOLOGY', 'ITE': 'INFORMATION TECHNOLOGY AND ENGINEERING', 'CME': 'COMPUTER ENGINEERING', 'EEE': 'ELECTRICAL AND ELECTRONICS ENGINEERING', 'DTD': 'DIGITAL TECHNIQUES FOR DESIGN AND PLANNING', 'AUT': 'AUTOMOBILE ENGINEERING', 'CIV': 'CIVIL ENGINEERING', 'ECM': 'ELECTRONICS AND COMPUTER ENGINEERING', 'PLG': 'PLANNING', 'CHE': 'CHEMICAL ENGINEERING', 'MIN': 'MINING ENGINEERING', 'MET': 'METALLURGICAL ENGINEERING', 'MMT': 'METALLURGY AND MATERIAL ENGINEERING', 'CSE': 'COMPUTER SCIENCE  AND  ENGINEERING', 'DRG': 'DAIRYING', 'AI': 'ARTIFICIAL INTELLIGENCE', 'MTE': 'BTECH MECHANICAL  WITH MTECH THERMAL ENGG', 'ANE': 'AERONAUTICAL ENGINEERING', 'IPE': 'INDUSTRIAL PRODUCTION ENGINEERING', 'EIE': 'ELECTRONICS AND INSTRUMENTATION ENGINEERING', 'MEC': 'MECHANICAL ENGINEERING', 'FDS': 'FOOD SCIENCE', 'PHE': 'PHARMACEUTICAL ENGINEERING', 'AGR': 'AGRICULTURAL ENGINEERING'}

In [ ]:
print(set(df['dist']))

{'SRP', 'SDP', 'KHM', 'MDL', 'KMR', 'HYD', 'NZB', 'RR', 'KGM', 'SRD', 'WGU', 'MBN', 'PDL', 'KRM', 'JTL', 'NLG', 'YBG', 'WGR', 'MED'}

In [ ]:
print(df.columns[4:-4])

Index(['OC_B', 'OC_G', 'BCA_B', 'BCA_G', 'BCB_B', 'BCB_G', 'BCC_B', 'BCC_G',
       'BCD_B', 'BCD_G', 'BCE_B', 'BCE_G', 'SC_B', 'SC_G', 'ST_B', 'ST_G'],
      dtype='object')